@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    @apply bg-gray-950 text-gray-100;
    font-family: 'Pretendard', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }
}

@layer utilities {
  .safe-pb {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
