$c-bg: #293241;
$c-card: #334155;
$c-modal: #272c34;
$c-primary: #3d5a80;
$c-primary-light: #98c1d9;
$c-accent: #ef754d;
$c-gray: #9299a5;
$c-white: #ffffff;
$c-tooltip: #727780;
$c-black: #111827;
$c-placeholder: #e5e7eb;
$c-error: #f87171;
